//padding
$kendo-button-padding-x: 16px;
$kendo-button-padding-y: 8px;

$kendo-button-sm-padding-x: 24px;
$kendo-button-sm-padding-y: 10px;

$kendo-button-lg-padding-x: 24px;
$kendo-button-lg-padding-y: 7.5px;

//Font
$kendo-button-font-family: inherit;

//Text
$kendo-button-font-size: 16px;
$kendo-button-sm-font-size: 12px;
$kendo-button-md-font-size: 140px;
$kendo-button-lg-font-size: 18px;

//Border
$kendo-button-border-radius: $system-radius;

//Flat button
$kendo-flat-button-hover-opacity: 0;
$kendo-flat-button-focus-ring-opacity: 0;
$kendo-flat-button-active-opacity: 0;

//Colors
$kendo-button-bg: $white;