$kendo-chip-padding-x: 10px;
$kendo-chip-padding-y: 9px;

$kendo-chip-font-size: 13px;

$kendo-chip-solid-bg: $white;
$kendo-chip-solid-text: #454755;
$kendo-chip-solid-border: #D9D9DC;
$kendo-chip-solid-shadow:none;

$kendo-chip-solid-focus-bg: rgba($primary, 5%);
$kendo-chip-solid-hover-bg: rgba($primary, 5%);
$kendo-chip-solid-selected-bg: rgba($primary, 5%);
$kendo-chip-solid-gradient: none;