$kendo-picker-gradient: $white;
$kendo-picker-bg: $white;
$kendo-picker-border: $border-color;

//Outline
$kendo-picker-outline-border: $border-color;
$kendo-picker-outline-hover-bg: $white;
$kendo-picker-outline-hover-text: $base-text;
$kendo-picker-outline-hover-border: $border-color;
$kendo-picker-outline-focus-shadow: none;
$kendo-picker-outline-bg: $white;
$kendo-picker-disabled-bg: $disabled-bg;