$kendo-dialog-titlebar-bg: $white;
$kendo-dialog-titlebar-text: $black;

$kendo-dialog-titlebar-border: #F6F8F9;
$kendo-window-titlebar-padding-x: 16px;
$kendo-window-titlebar-padding-y: 16px;

$kendo-window-border-radius: $system-radius * 2;
$kendo-window-inner-padding-x: 24px;
$kendo-window-inner-padding-y: 32px;

$kendo-window-shadow: 0px 1px 20px 0px rgba(36, 56, 76, 0.12);