//Grid

$kendo-grid-header-bg: #F1F6F8;
$kendo-grid-header-text: #595B68;
$kendo-grid-text: $base-text;
$kendo-grid-header-text: #595B68;
$kendo-grid-header-font-size: 14px;
$kendo-grid-font-size: 14px;


$kendo-table-alt-row-bg: $white;
$kendo-table-hover-bg: $neutral-3;
$kendo-grid-selected-bg: $neutral-3;
$kendo-grid-padding-y: 11px;
$kendo-grid-padding-x: 16px;
$kendo-grid-border: #F5F5F6;
$kendo-grid-alt-border: rgba(36, 56, 76, 0.10);


//Pagination
$kendo-pager-bg: $white;
//$kendo-pager-text: $neutral-3;
$kendo-button-md-calc-size: calc(1.4285714286em + 6px + 2px);
$kendo-pager-item-border-radius: 2px;