// $kendo-font-size: 12px;
$kendo-font-size: 12px;
$kendo-font-family: '"Open Sans"', "sans-serif";
$kendo-font-family-monospace: '"Open Sans"', "sans-serif";
$kendo-font-family-sans-serif: '"Open Sans"', "sans-serif";
$kendo-font-family-serif: '"Open Sans"', "sans-serif";
$kendo-font-family-sans: '"Open Sans"', "sans-serif";

// $kendo-font-family: 'Hind', sans-serif;
// $kendo-font-family-monospace: 'Hind', sans-serif;
// $kendo-font-family-sans-serif: 'Hind', sans-serif;